.homePageContainer {
  margin: 20px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 121, 97, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  header {
    h1 {
      font-size: 40px;
      color: white;
      text-align: center;
    }
  }
  .mainSection {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    .startButtonContainer {
      width: 600px;
      display: flex;
      .startButton {
        width: 100%;
        border: 0px;
        background-color: #022b50;
        font-weight: 600;
        padding: 12px 15px;
        border-radius: 5px;
        color: white;
      }
    }
  }
}
